/* Geral */
a { color: inherit; } 
body{
    font-family: 'Josefin Sans', sans-serif !important;
}

/* */

/* Menu */
.Menu{
    height: 100%;
}
#btn-menu a {
    align-items: center;
}
.BarraSuperior {
    height: 50px;
}

.Logo {
    
}

.BarraLateral {
    height: 100%;
}

.BarraLateral a {
    color: #A8A8A8 !important;
}

.Acoes {
    font-size: 20px;
}

#AcoesContas .btn-secondary{
    background-color: #A8A8A8;
    cursor: pointer;
}

/* */

/* index */

.ConteudoCentral{
    box-shadow: 0px 0px 8px 2px #A8A8A8;
    background-color: #ffffff;
    height: 100%;
}

#AcoesContas {
    padding: 15px;
}

/* */

/* Home - ConteudoCentral */

.CampoTabela{
    padding-top: 30px;
    padding-bottom: 30px;
}

.Tabela{
    padding: 5px !important;
    font-size: 15px;
}

/* Caixas Somas */

.QuadroSoma{
    padding: 15px;
}

.QuadradoSoma .Valor, .QuadradoSoma .TituloQuadrado{
    text-align: center;
}

.QuadradoSoma{
    padding: 5px;
    height: 50%;
    border: 2px solid black;
    border-radius: 15px;
}

.QuadradoSoma .Valor{
    font-size: 20px;
}

.QuadradoSoma, .QuadradoSoma a{
    color: #000000 !important;
}

#SomaSaldo{
    color: #ffffff !important;
}

.QuadroSoma #SomaReceitas{
    background-color: #03bb85;
}

.QuadroSoma #SomaDespesas{
    background-color: #ffb6c1;
}

.QuadroSoma #SomaSaldo{
    background-color: #A8A8A8;
}

    /* */

/* */

/* modal editar */

#myForm{
    z-index: 1000;
    display: none;
    width: 50%;
    height: auto;
    padding: 20px 20px 20px 20px;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 2px #A8A8A8;
    position: fixed;
    top: 25%;
    left: 25%;
}

#myForm .form-popup-center{
    width: 100%;
    height: 100%;
}

#btn-fechar{
    position: absolute;
    top: -10px;
    right: -35px;
    cursor: pointer;
}

#cd-btnConfirmar{
    position: absolute;
    bottom: 0px;
    right: -25px;
}

#cd-btnConfirmar .btn{
    background-color: #A8A8A8;
}



/* Cadastro - Conteudo Central */

#cc-cadastro {
    line-height: 30px;
}

#cc-cadastro #cc-caixa{
    padding-top: 20px;
}

#cc-cadastro #descricao, #cc-cadastro #valor{
    width: 80%;
}

#cd-cabecalho #text-cabecalho{
    text-align: center;
}

#cd-btnCadastrar{
    padding-top: 50px;
}

#cd-tipovl {
    padding: 5px 0px 5px 0px;
}

/* */

/* Receitas - Conteudo Central */

.QuadradoReceitas #Titulo{
    justify-content: center;
}

/* */
